<h1>Listing login_keys</h1>

<table>
  <tr>
    <th>name</th>
    <th>password</th>
    <th>email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @login_keys.each do |login_key| %>
  <tr>
    <td><%= login_key.name %></td>
    <td><%= login_key.password %></td>
    <td><%= login_key.email %></td>
    <td><%= link_to 'Show', login_key %></td>
    <td><%= link_to 'Edit', edit_login_key_path(login_key) %></td>
    <td><%= link_to 'Destroy', login_key, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Login key', new_login_key_path %>
