<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @login_key.name %>
</p>

<p>
  <b>password:</b>
  <%= @login_key.password %>
</p>

<p>
  <b>email:</b>
  <%= @login_key.email %>
</p>


<%= link_to 'Edit', edit_login_key_path(@login_key) %> |
<%= link_to 'Back', login_keys_path %>
