<%= form_for(@room_rate, html: {class: "form-horizontal"}) do |f| %>
  <% if @room_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_rate.errors.count, "error") %> prohibited this room_rate from being saved:</h2>

      <ul>
      <% @room_rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  	<img src="http://www.dolphin.upenn.edu/ballroom/upenn-classic-2012/img/housing01.jpg" class="img-polaroid">
<div class="row spacer">
<form class="form-horizontal">
  <div class="field">
  	<div class="text-error text-font-papyrus control-group <%= warningfor @room_rate, :name %>">
    <%= f.label :name, class: 'control-label' %>
    <div class = "controls">
    <%= f.text_field :name %>
    </div>
  </div>
  </div>
  <div class="field">
  	<div class ="text-error control-group <%= warningfor @room_rate, :roommate %>">
    <%= f.label :roommate, class: 'control-label' %>
    <div class ="controls">
    <%= f.text_field :roommate %>
    </div>
  </div>
  </div>
  <div class="field">
  	<div class ="text-error control-group <%= warningfor @room_rate, :building %>">
    <%= f.label :building, class: 'control-label' %>
        <div class ="controls">
    <%= f.text_field :building %>
  </div>
  </div>
  </div>
  <div class="field">
  	 	<div class ="text-error control-group <%= warningfor @room_rate, :floor %>">
    <%= f.label :floor, class: 'control-label' %>
      <div class ="controls">
    <%= f.text_field :floor %>
  </div>
  </div>
  </div>
  <div class="field">
  	 	<div class ="text-error control-group <%= warningfor @room_rate, :roomnumber %>">
    <%= f.label "Room Number", class: 'control-label' %>
      <div class ="controls">
    <%= f.text_field :roomnumber %>
  </div>
  </div>
  </div>
  <div class="field">
  	 	<div class ="text-error control-group <%= warningfor @room_rate, :layout %>">
    <%= f.label :layout, class: 'control-label' %>
      <div class ="controls">
    <%= f.text_field :layout %>
  </div>
  </div>
  </div>
  <div class="field">
  	 	<div class ="text-error control-group <%= warningfor @room_rate, :condition %>">
    <%= f.label :condition, class: 'control-label' %>
    <div class ="controls form-inline">
    <%= f.radio_button(:condition, "Excellent") %> 
    <%= label_tag(:condition_poor, "Excellent") %>
    <%= f.radio_button(:condition, "Good") %>
  	<%= label_tag(:condition_good, "Good") %>
  	<%= f.radio_button(:condition, "Average") %>
  	<%= label_tag(:condition_poor, "Average") %>
  	<%= f.radio_button(:condition, "Poor") %>
  	<%= label_tag(:condition_poor, "Poor") %>
  	<%= f.radio_button(:condition, "Uninhabitable") %>
  	<%= label_tag(:condition_poor, "Uninhabitable") %>
  </div>
  </div>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-large btn-danger" %>
    <i class="icon-home"></i>
    <a class="btn btn-large" href="http://secondapp2.herokuapp.com/room_rates">Cancel</a>
  </div>
  </form>
  
<% end %>
