<h1>Room Rates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Roommate</th>
    <th>Building</th>
    <th>Floor</th>
    <th>Room Number</th>
    <th>Layout</th>
    <th>Condition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @room_rates.each do |room_rate| %>
  <tr>
    <td><%= room_rate.name %></td>
    <td><%= room_rate.roommate %></td>
    <td><%= room_rate.building %></td>
    <td><%= room_rate.floor %></td>
    <td><%= room_rate.roomnumber %></td>
    <td><%= room_rate.layout %></td>
    <td><%= room_rate.condition %></td>
    <td><%= link_to 'Show', room_rate %></td>
    <td><%= link_to 'Edit', edit_room_rate_path(room_rate) %></td>
    <td><%= link_to 'Destroy', room_rate, confirm: 'Are you sure?', method: :delete %></td>

<% end %>
</table>
<table><h2> floor is less than 10! </h2>
<% @low.each do |room_rate| %>
  <tr>
    <td><%= room_rate.name %></td>
    <td><%= room_rate.roommate %></td>
    <td><%= room_rate.building %></td>
    <td><%= room_rate.floor %></td>
    <td><%= room_rate.roomnumber %></td>
    <td><%= room_rate.layout %></td>
    <td><%= room_rate.condition %></td>
    <td><%= link_to 'Show', room_rate %></td>
    <td><%= link_to 'Edit', edit_room_rate_path(room_rate) %></td>
    <td><%= link_to 'Destroy', room_rate, confirm: 'Are you sure?', method: :delete %></td>

<% end %>
</table>

<br />

<%= link_to 'New Room Rate', new_room_rate_path %>
