<h1>Listing room_rates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Roommate</th>
    <th>Building</th>
    <th>Floor</th>
    <th>Roomnumber</th>
    <th>Layout</th>
    <th>Condition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @room_rates.each do |room_rate| %>
  <tr>
    <td><%= room_rate.Name %></td>
    <td><%= room_rate.Roommate %></td>
    <td><%= room_rate.Buiding %></td>
    <td><%= room_rate.Floor %></td>
    <td><%= room_rate.RoomNumber %></td>
    <td><%= room_rate.Layout %></td>
    <td><%= room_rate.Condition %></td>
    <td><%= link_to 'Show', room_rate %></td>
    <td><%= link_to 'Edit', edit_room_rate_path(room_rate) %></td>
    <td><%= link_to 'Destroy', room_rate, confirm: 'Are you sure?', method: :delete %></td>

<% end %>
</table>

<br />

<%= link_to 'New Room rate', new_room_rate_path %>