<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @room_rate.name %>
</p>

<p>
  <b>roommate:</b>
  <%= @room_rate.roommate %>
</p>

<p>
  <b>building:</b>
  <%= @room_rate.building %>
</p>

<p>
  <b>floor:</b>
  <%= @room_rate.floor %>
</p>

<p>
  <b>roomnumber:</b>
  <%= @room_rate.roomnumber %>
</p>

<p>
  <b>layout:</b>
  <%= @room_rate.layout %>
</p>

<p>
  <b>condition:</b>
  <%= @room_rate.condition %>
</p>

<p>
	
</p>

<%= link_to 'Edit', edit_room_rate_path(@room_rate) %> |
<%= link_to 'Back', room_rates_path %>
