<!DOCTYPE html>
<html>
<head>
  <title>Secondapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
<body>
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">	
				<div class="container">
					<a class="brand" href="#">Room Rate</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li>
									<%= link_to "Home", root_path %>
								 </li>
								 <li>
								 	<%= link_to "Room Rate", room_rates_path %>
								 </li>
							</ul>
							<% if name_signed_in? %>
							<%= link_to 'Logout', destroy_name_session_path, method: :delete, class: 'btn btn-inverse pull-right' %>
							<% else %>
							<%= form_for(Name.new, url: session_path(:name), html: { class: 'navbar-form pull-right' }) do |f| %>
							<%= f.email_field :email, placeholder: "email" %>
							<%= f.password_field :password, placeholder: "password" %>
							<%= f.submit 'Sign in', class: 'btn btn-primary' %>
							<% end %>
							<% end %>
							</div>
						</div>
					</div> 
				</div>
				<% if alert %>
				<div class="alert alert-error">
					<%= alert %>
				</div>
				<% end %>
				<% if notice %>
				<div class="alert alert-success">
					<%= notice %>
				</div>
				<% end %>
				<%= yield %>
			</div>
</body>
</div>
<div id="help">HELP
<div id ="helptext"><p>To create a new room rate, simply click the new room rate button.</p>
	<p>this will take you to a form where you can fill out your dorm building, room number, room layout, etc.</p>
	<p>Which you can then save so that others going through the housing process can get a little more</p>
	<p>information about the rooms they are choosing during the room selection process.</p></div>
	</div>
</html>

